[Unit]
Description=nwbio
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/lib/jvm/java-21-openjdk-amd64/bin/java -Dspring.profiles.active=production -jar /opt/nwbio.jar
Restart=always
StandardOutput=journal
StandardError=journal+console
SyslogIdentifier=nwbio

[Install]
WantedBy=multi-user.target
