<div th:fragment="facetsArea" th:if="${total > 0}" class="col-md-4" id="facets">
    <h5 class="mb-4">Ergebnisse eingrenzen:</h5>
    <p />
    <div th:replace="~{this::facet('gndSubjectCategory.id', 'GND-Sachgruppe')}" />
    <div th:replace="~{this::facet('geographicAreaCode.id', 'Ländercode')}" />
    <div th:replace="~{this::facet('professionOrOccupation.id', 'Beruf oder Beschäftigung')}" />
</div>
<div
    th:fragment="facet(key, label)"
    th:with="simpleKey=${#strings.replace(key, '.id', '')}"
    th:unless="${search.aggregation.get(key).isEmpty()}">
    <h5 class="d-inline-block" th:text="${label}">Feld</h5>
    <div class="d-inline-block" th:if="${search.aggregation.get(key).size > 5}">
        <div
            th:replace="~{this::facetToggle(
                ${simpleKey}, 'Mehr Werte anzeigen', 'Weniger Werte anzeigen'
            )}" />
    </div>
    <div th:each="val,metaVal : ${search.aggregation.get(key)}" th:with="hide=${metaVal.index > 4}">
        <div th:replace="~{this::facetLink(${hide}, ${simpleKey}, ${val}, '')}" />
    </div>
    <p />
</div>
<div th:fragment="facetLink(hide, id, val, icon)">
    <span th:classappend="${hide ? (id + '-more-item d-none') : ''}">
        <i th:unless="${icon.isEmpty}" class="d-inline-block" th:classappend="${icon}"></i>
        <div class="d-inline-block" th:switch="${@facets.isActive(filter, key, val.key)}">
            <div th:case="true">
                <span th:text="${val.label}">Aktiver Filter</span>
                <a
                    th:href="@{/search(q=${q}, size=${size}, from=${0}, 
                                filter=${@facets.without(filter, key, val.key)})}">
                    <span class="badge bg-primary">
                        Filter entfernen <span class="bi bi-x-lg" />
                    </span>
                </a>
            </div>
            <a
                th:case="false"
                th:href="@{/search(q=${q}, size=${size}, from=${0}, 
                            filter=${@facets.filter(filter, key, val.key)})}"
                th:text="${val.label + ' (' + @pagination.formatCount(val.doc_count) + ')'}">
                Feld (1)
            </a>
        </div>
    </span>
</div>
<div th:fragment="facetToggle(id, moreTitle, lessTitle)">
    <a
        th:id="${id + '-more-link'}"
        href="javascript:void(0)"
        th:title="${moreTitle}"
        class="facets-toggle"
        th:data-facet-key="${id}">
        <span class="bi bi-plus-square" aria-hidden="true" />
    </a>
    <a
        th:id="${id + '-less-link'}"
        href="javascript:void(0)"
        th:title="${lessTitle}"
        class="facets-toggle d-none"
        th:data-facet-key="${id}">
        <span class="bi bi-dash-square" aria-hidden="true" />
    </a>
</div>
