<tr th:with="uri=|https://d-nb.info/gnd/${entity.gndIdentifier}|">
    <td>URI</td>
    <td>
        [[${uri}]]<a
            th:with="info='URI in die Zwischenablage kopieren'"
            class="text-decoration-none"
            data-bs-toggle="tooltip"
            data-bs-placement="right"
            data-bs-custom-class="custom-tooltip"
            th:title="${info}"
            th:data-copy-text="${uri}"
            th:data-copy-info="${info}"
            href="#"
            onclick="copyToClipboard($(this)); return false;">
            <span class="bi bi-clipboard-plus" />
        </a>
    </td>
</tr>
<div
    th:each="field : ${entity}"
    th:with="
        fieldLabel=${entity.labels.get(field.key)},
        skipDisplay=${@details.skipDisplay(field.key) ||
            (#strings.equals(field.key,'biographicalOrHistoricalInformation') && field.value.size() < 2)},
        skipSearchLink=${@details.skipSearchLink(field.key)}">
    <tr
        th:unless="${skipDisplay}"
        th:if="${fieldLabel != null && not #strings.startsWith(fieldLabel, 'No property label for')}">
        <td th:text="${fieldLabel}">Field label...</td>
        <td th:switch="true">
            <div th:case="${field.value instanceof T(java.util.List)}" th:with="showMax=5">
                <span
                    th:each="value, meta : ${field.value}"
                    th:with="skipValue=${#strings.equals(value,'AuthorityResource') 
                        || (value instanceof T(java.util.Map) && value.containsKey('id') 
                        && (#strings.contains(value.id,'d-nb.info') && not #strings.endsWith(value.id,'/about')))}"
                    th:classappend="${meta.index >= showMax ? (field.key + '-more-item d-none') : ''}"
                    th:switch="true">
                    <span
                        th:unless="${skipValue}"
                        th:case="${value instanceof T(java.util.Map) && value.containsKey('collection')}"
                        th:with="
                            collection=${value.collection},
                            valueLabel=${collection.containsKey('name') ? collection.name : collection.id}">
                        <img
                            th:if="${collection.containsKey('icon')}"
                            th:with="
                                proxyPrefix='https://lobid.org/imagesproxy?url=',
                                isLobid=${#strings.contains(collection.icon, 'lobid.org')}"
                            th:src="${isLobid ? collection.icon : proxyPrefix + collection.icon}"
                            style="height: 1em"
                            alt="&#128443;" />
                        <a
                            th:title='|Diesen Eintrag in "${valueLabel}" anzeigen|'
                            th:href="${value.id}"
                            th:text="${valueLabel}">
                            Link label...
                        </a>
                    </span>
                    <span
                        th:case="${value instanceof T(java.util.Map) && value.containsKey('id')}"
                        th:with="valueLabel=${value.containsKey('label') ? value.label : value.id}">
                        <a
                            th:title='|Linked-Data-Quelle zu "${valueLabel}" anzeigen|'
                            th:href="${#strings.replace(value.id, 'https://d-nb.info/gnd', 'https://lobid.org/gnd')}"
                            th:text="${valueLabel}">
                            Link label...
                        </a>
                        <a
                            th:unless="${skipSearchLink}"
                            th:title='|Weitere Einträge mit ${fieldLabel} "${valueLabel}" suchen|'
                            th:href='@{/search(q=|${field.key}.id:"${value.id}"|)}'>
                            <span class="bi bi-search" />
                        </a>
                    </span>
                    <span
                        th:case="${value instanceof T(java.lang.String)}"
                        th:unless="${skipValue}"
                        th:with="label=${@details.label(entity.labels, value)}">
                        <span th:text="${label}">Text value...</span>
                        <a
                            th:unless="${skipSearchLink}"
                            th:title='|Weitere Einträge mit ${fieldLabel} "${value}" suchen|'
                            th:href='@{/search(q=|${field.key}:"${value}"|)}'>
                            <span class="bi bi-search" />
                        </a>
                    </span>
                    <span th:case="*" th:text="${value}">Other value...</span>
                    <span th:unless="${meta.last || skipValue}"> | </span>
                </span>
                <div th:if="${field.value.size() > showMax}" class="d-inline-block">
                    <div
                        th:replace="~{fragments/facets::facetToggle(
                            ${field.key}, 'Mehr Werte anzeigen', 'Weniger Werte anzeigen')}" />
                </div>
            </div>
            <span th:case="*" th:text="${field.value}">Other value...</span>
        </td>
    </tr>
</div>
