<!DOCTYPE html>
<html
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
    <head>
        <title th:text="${entity.preferredName}">Title...</title>
    </head>
    <body>
        <div layout:fragment="content">
            <h1 class="page-header mb-4">
                <a
                    th:with="info='Namen in die Zwischenablage kopieren'"
                    class="invisible-link"
                    data-bs-toggle="tooltip"
                    data-bs-placement="right"
                    data-bs-custom-class="custom-tooltip"
                    th:title="${info}"
                    th:data-copy-text="${entity.preferredName}"
                    th:data-copy-info="${info}"
                    href="#"
                    onclick="copyToClipboard($(this)); return false;">
                    [[${entity.preferredName}]]
                </a>
                <a
                    th:each="type : ${entity.type}"
                    th:href="@{/gnd/search(filter=${'+(type:'+type+')'})}"
                    th:text="${entity.labels.get(type)}"
                    class="badge text-bg-primary text-light">
                    Type...
                </a>
                <a
                    class="float-end"
                    title="JSON-LD-Indexdaten anzeigen"
                    th:href="|/gnd/${entity.gndIdentifier}.json|">
                    <img
                        class="json-ld-icon"
                        th:src="@{/gnd/assets/images/json-ld.png}"
                        alt="JSON" />
                </a>
                <br />
                <small th:text="${entity.labels.get(entity.gndIdentifier)}">Description...</small>
            </h1>
            <div th:if="${@details.isLivingPerson(entity)}" id="meta-person" class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="card-text">
                        <a
                            role="button"
                            data-bs-toggle="collapse"
                            href="#infotext"
                            aria-expanded="false"
                            aria-controls="infotext">
                            <span class="bi bi-chevron-right collapse-icon"></span> Sind Sie
                            [[${@details.getFirstAndLastName(entity)}]]? Klicken Sie hier.
                        </a>
                    </h5>
                </div>
                <div
                    id="infotext"
                    class="panel-collapse collapse"
                    role="tabpanel"
                    aria-labelledby="headingOne">
                    <div class="card-body row">
                        <p class="card-text col-md-6">
                            <span class="bi bi-info-circle"></span> Diese Seite zeigt einen
                            Datensatz aus der
                            <a href="https://de.wikipedia.org/wiki/Gemeinsame_Normdatei">
                                Gemeinsamen Normdatei (GND)
                            </a>
                            an. Die GND wird von Bibliotheken, Archiven und Museen gepflegt und
                            dient der eindeutigen Identifizierung von Urheber:innen. Ein GND-Eintrag
                            zu einer Person wird beispielsweise bei der Katalogisierung einer
                            Publikation angelegt, um die Publikation korrekt und eindeutig der
                            Person zuordnen zu können.
                        </p>
                        <p class="card-text col-md-6">
                            Die Informationen in einem Normdatensatz werden ausschließlich aus
                            öffentlich zugänglichen Quellen übernommen, Fehler oder
                            Unvollständigkeiten sind nicht ausgeschlossen. Falls Sie Änderungen
                            melden möchten oder mit der Veröffentlichung bestimmter Informationen
                            nicht einverstanden sind, wenden Sie sich bitte an
                            <a href="mailto:gnd-datenschutz@hbz-nrw.de">
                                gnd-datenschutz@hbz-nrw.de</a
                            >.
                        </p>
                    </div>
                </div>
            </div>
            <div
                class="row mt-3"
                th:with="
                    hasImage=${entity.containsKey('depiction')},
                    hasGeo=${entity.containsKey('hasGeometry')},
                    hasGraph=${@relations.hasGndRelations(entity)}">
                <div th:class="|${(hasImage || hasGeo) ? 'col-9' : 'col-12'} mt-2|">
                    <ul th:if="${hasGraph}" class="nav nav-tabs" id="detailsTabs" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link active"
                                id="fields-tab"
                                data-bs-toggle="tab"
                                data-bs-target="#fields-content"
                                type="button"
                                role="tab"
                                aria-controls="fields-content"
                                aria-selected="true">
                                Felder
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button
                                class="nav-link"
                                id="rels"
                                data-bs-toggle="tab"
                                data-bs-target="#relations-content"
                                type="button"
                                role="tab"
                                aria-controls="relations-content"
                                aria-selected="false">
                                Beziehungen
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="detailsTabsContent">
                        <div
                            class="tab-pane show active"
                            id="fields-content"
                            role="tabpanel"
                            aria-labelledby="fields-tab">
                            <table class="table table-striped table-condensed">
                                <tr th:replace="~{fragments/fields}" />
                            </table>
                        </div>
                        <div
                            class="tab-pane"
                            id="relations-content"
                            role="tabpanel"
                            aria-labelledby="rels">
                            <div
                                id="gnd-network"
                                th:data-nodes="${@relations.gndRelationNodes(entity)}"
                                th:data-edges="${@relations.gndRelationEdges(entity)}"
                                th:data-entity-id="${entity.gndIdentifier}"></div>
                        </div>
                        <div th:replace="~{fragments/sources}" />
                    </div>
                </div>
                <div th:if="${hasImage || hasGeo}" class="col-3 mt-2">
                    <div
                        th:if="${hasGeo}"
                        id="authority-map"
                        th:data-geo="${@details.getLatLon(entity)}"
                        th:data-type="${entity.type}"
                        th:data-title="${entity.preferredName}"></div>
                    <div th:if="${hasImage}"><div th:replace="~{fragments/figure}" /></div>
                </div>
            </div>
        </div>
    </body>
</html>
