// override built-in custom variables
$font-size-base: 0.9rem;
$primary: #00a34c;
$secondary: #ee1921;
$body-color: #343d42;
$link-color: $primary;
$link-hover-color: darken($link-color, 15%);
$link-decoration: none;
$link-hover-decoration: underline;
$input-btn-focus-width: 0.1rem;
