dd {
    padding-bottom: 0.5em;
}

#header {
    width: 100%;
    border: 1px solid #434553;
    border-radius: 0.25rem;
    background-repeat: repeat-x;
    padding-left: 12px;
}

#header #main-links .nav-link {
    padding: 12px;
}

.label-info {
    background-color: #0069b4;
}

#small-logo {
    height: 25px;
    border: 1px solid white;
    background: white;
}

#small-gnd-logo-link {
    padding: 5px;
}

#header img {
    height: 25px;
}

.search-field {
    padding: 2px;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

#search-results {
    margin-top: 2em;
}

.pagination-and-facets {
    padding: 2px;
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.col {
    padding: 2px !important;
}

.fill {
    width: 100% !important;
}

#query-select {
    width: 100%;
}

ul#root {
    padding-left: 0;
    padding-bottom: 10px;
}

ul.facet {
    padding-left: 0;
}

ul.facet li {
    list-style-type: none;
}

a.active {
    background-color: #eee !important;
    color: #555 !important;
}

.ui-helper-hidden-accessible {
    display: none;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    float: left;
    display: none;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 100 !important;
}

.ui-autocomplete .ui-menu-item a {
    color: #004678;
    display: block;
    padding: 4px 10px;
    text-decoration: none;
}

// Hover and keyboard focus/active states
.ui-autocomplete .ui-menu-item:hover .ui-menu-item-wrapper,
.ui-autocomplete .ui-menu-item.ui-state-focus .ui-menu-item-wrapper,
.ui-autocomplete .ui-menu-item-wrapper.ui-state-focus,
.ui-autocomplete .ui-menu-item-wrapper.ui-state-active {
    background-color: #e6e6e6;
    border-color: #ccc;
    color: #004678;
}

.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
    padding-top: 3px !important;
    padding-bottom: 3px !important;
}

.table-condensed > tbody > tr > td.field-value {
    vertical-align: bottom !important;
}

.hbz-logo {
    height: 50px;
}

.nrw-logo {
    height: 45px;
}

.footer-card {
    margin-top: 35px !important;
    padding: 10px;
    border-color: #434553;
}

.footer {
    padding: 8px;
}

.footer img {
    height: 20px;
}

.intro {
    padding-top: 10px;
}

.pagination-panel {
    padding-top: 5px;
    padding-bottom: 25px;
}

.pagination {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 30px !important;
}

.pagination li a {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

.facet {
    margin-top: 2px;
}

.facet .facet-label {
    color: #004678 !important;
}

/* Tweaks for Bootstrap update from 3.1.1 to 3.2.0: */
.form-inline .input-group {
    width: 100%;
}

.form-inline .input-group .input-group-addon,
.form-inline .input-group .input-group-btn {
    width: 1px !important;
}

.form-inline .input-group .form-control {
    width: 100%;
}

.scrollable-menu {
    height: auto;
    max-height: 400px;
    width: 100%;
    overflow-x: hidden;
}

a.disabled {
    padding-left: 0px !important;
}

li .dropdown-header {
    padding-left: 10px !important;
}

.navbar-brand {
    padding-top: 13px !important;
}

#facet-filter {
    border: 1px solid rgba(0, 70, 120, 0.5);
    background-color: rgba(0, 70, 120, 0.1);
    font-size: x-small;
    color: #333333;
}

.facet-checkbox {
    vertical-align: bottom;
    position: relative;
    top: -1px;
}

@media print {
    a[href]:after {
        content: none;
    }

    .hide-in-print {
        display: none;
    }
}

h5 {
    font-size: larger;
}

#authority-map {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
}

.label a {
    color: white !important;
}

.label a:hover {
    color: white !important;
}

figure {
    display: table;
    float: right;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    text-align: right;
}

#entity-image {
    max-width: 100%;
    max-height: 300px;
    float: right;
}

.json-ld-icon {
    height: 1em;
}

.tooltip-inner {
    border: solid 1px #cccccc;
}

.custom-tooltip {
    --bs-tooltip-bg: #fff;
    --bs-tooltip-color: #000;
}

.invisible-link {
    color: #333333;
}

.invisible-link:hover {
    text-decoration: none;
}

.alert-info {
    background-color: #d9edf7;
}

#meta-person {
    overflow: auto;
    float: none;
    padding: 0px;
}

#infotext .bi {
    font-size: 1.5em;
    float: left;
    margin: 5px 10px 0px 0px;
}

.btn-default {
    --bs-btn-bg: #fff;
    --bs-btn-border-color: #dee2e6;
    --bs-btn-hover-bg: #e6e6e6;
    --bs-btn-hover-border-color: #adadad;
    --bs-btn-active-bg: var(--bs-btn-hover-bg);
    --bs-btn-active-border-color: var(--bs-btn-hover-border-color);
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}

h1 small {
    font-size: 60%;
    color: #777777;
}

:root {
    --bs-body-font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 .badge {
    font-size: 0.7rem;
    line-height: 1;
    vertical-align: middle;
    margin: 1px;
}

.ui-autocomplete-clear {
    display: none;
    margin-left: -1px;
}

#name-column {
    min-width: 30%;
}

#id-column {
    min-width: 10%;
}

#gnd-network {
    width: 100%;
    height: 500px;
}

pre {
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
    padding: 1rem;
}

code {
    background-color: #f9f2f4;
}

textarea {
    border: none;
    background: transparent;
    width: 100%;
    height: 25rem;
    padding: 0;
}

#header-gnd {
    width: 100%;
    background: #0069b4;
    padding: 6px;
}

#header-gnd .navbar-header {
    padding: 6px;
}

#header-gnd .navbar-brand img {
    height: 25px;
    margin-right: 10px;
}

#header-gnd a.dropdown-toggle {
    color: white;
}

#footer-gnd {
    margin-top: 30px;
    padding: 6px;
    background: #0069b4;
    color: white;
}

#footer-gnd a {
    color: white;
}
